body {
        background-color:beige;
        text-align:center;
        color:black;
        font-family: "Cormorant Garamond", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

}
.Header {
    text-align: center;
    color: pink;
    font-size: 80px;
}
#Header2 {
    text-align: center;
    color: aqua;
    font-size: 50px;
    
}

.para {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: lightgreen;
    font-weight: 400;
    font-style: italic;
    font-size: 70px;
}
.dept{
    font-style: normal;
    text-align: center;
    color: lightcoral;
    font-size: 50px;
}
.image{
    text-align: center;
    border-radius:100%;
}